/* Navbar Container */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0rem 2rem;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 4rem;
}

/* Left Section - Logo and Categories */
.leftNav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 60%;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f5c518; /* Gold color */
  text-transform: uppercase;
}

.categories {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: .3s;
}

.categories a {
  color: #ccc;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.categories a:hover {
  color: #f5c518;
}

.rightNav{
  max-width: 40%;
  display: flex;
  align-items: center;
}
.menu{
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

}
.navActive{
  transform: translateX(0) !important;
}

@media (max-width: 768px){
  .navBar{
    flex-direction: row-reverse;
  }
  .leftNav{
    max-width: 30%;
  }
  .rightNav{
    max-width: 60%;
  }
  .logo{
    font-size: 1.5rem;
  }
  .categories {
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    transform: translateX(-100%);
  }
  .categories a {
    font-size: 1rem;
  }
  .menu{
    display: flex;
  }
}
