
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html,body{
  background-color: #111;
  color: white;
}

a{
  text-decoration: none;
}
hr{
  width: 100%;
  margin-top: 1rem;
}
.carousel .slide {
  background: transparent !important;
}

.carousel-slider {
  overflow: hidden;
}

img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


input,
button,
img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.15);
  border-radius: 999px;
}

@import "tailwindcss";